*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: aquamarine;
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}
li{
    font-size: 4vh;
    color: black;
}