*{
    margin: 0;
    padding: 0;
}

.contenedor-grid{
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "seis seis tres uno"
    ". dos tres ."
    "cuatro dos cinco cinco";
    /*grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);*/

}
.contenedor-grid div{
    border: 2px solid black;
    font-size: 25px;
}
.elemento-1{
    grid-area: uno;
    background: yellow;
    /*grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;*/
}
.elemento-2{
    grid-area: dos;
    background: pink;
    /*grid-column-start: 11;
    grid-row-start: 1;
    grid-row-end: 12;*/
}
.elemento-3{
    grid-area: tres;
    background: red;
}
.elemento-4{
    grid-area: cuatro;
    background: blue;
}
.elemento-5{
    grid-area: cinco;
    background: orange;
}
.elemento-6{
    grid-area: seis;
    background: green;
    /*grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 20;*/
}
@media (max-width: 400px){
    .contenedor-grid{
        grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis";
    }
}